.sec-edu{
	background-image: url('../images/img13.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	/*opacity: 0.8;*/

}

.cust-education {
	margin-top: 100px;
	border:2px solid #b1aeae;
	padding: 10px;
	background-color: white;
	/*opacity: 0.8;*/
	border-radius: 10px 15px 10px 15px;
}


.cust-education h2 {
	/*border:1px solid red;*/
	font-family: 'Playfair Display', serif;
	text-shadow: 2px 1px 2px;
    border: 1px solid #84b8d6;
    color: #575a5d;
    box-shadow: 2px 1px 1px 2px #7a99de;
}

.custom-style-edu  h5 {

font-family: 'DM Serif Display', serif;
font-family: 'Playfair Display', serif;
font-weight: bold;

color: #403434;


}

.custom-style-edu h6 {
	color: #6b6767;
}


.cust-edu h5{
	padding-bottom: 25px;
	border-bottom: 2px solid #b1aeae;



}

.cus-edu h6 {
	padding-top: 15px;
}

.edu-cust {
	margin-left: 15px;
	padding-left: 15px;
	border-left: 2px solid #b1aeae;
}